body * {
    visibility: hidden
}

.modal-size-medium .modal-content {
    width: 100%;
    height: auto;
}

.hide-print {
    display: none
}

#printSection, #printSection * {
    visibility: visible
}

#printSection {
    display: block;
    position: absolute;
    left: 0;
    top: 3rem;
}

#printSection .t3js-modal-close {
    display: none
}

#printSection .modal-header {
    padding: 0.5rem;
    border: none;
}

#printSection .t3js-modal-body {
    padding: 0;
}

#printSection .t3js-modal-content {
    box-shadow: none;
}

#printSection .table-striped {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#printSection .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #fff;
    color: #000;
}